$font1: "ArnoPro", sans-serif;
$font2: "Bebas Neue", "ArnoPro", sans-serif;
$resolution: 1097;
$resolution2: 712;


a{
	text-decoration: none;
}
*:focus{
	outline: none;
}
html{
	width: 100%;
	height: 100%;
}

body{
	font-family: $font1;
	margin: 0;
	font-size: 1vw;
	color: #FFFFFF;
	background:none transparent;
}

.radio{
	$self: &;
	display: block;
	position: relative;
	input{
		display: none;
	}
	&__checkbox{
		position: absolute;
		width: vw(36);
		height: vw(36);
		border-radius: 100%;
		box-sizing: border-box;
		border: 2px solid #d62327;
		left: vw(-68);
		top: vw(5);
		cursor: pointer;
	}
	input{
		&:checked ~ #{$self}__checkbox{
			&::after{
				content: "";
				width: vw(16);
				height: vw(16);
				display: block;
				border-radius: 100%;
				background: #d62327;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				box-shadow: 0 0 0.54695vw vw(5) #d6232787;
			}
		}
	}
}

.share{
	&__title{
		color: #ffffff;
		font-size: vw(24);
		text-transform: uppercase;
		text-align: center;
	}
	&__socials{
		margin-top: vw(25);
		display: flex;
		justify-content: center;
	}
	&__soc-link{
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: 0;
		box-sizing: border-box;
		background: #d62327;
		border-radius: vw(4);
		margin: 0 vw(8);
		color: #FFFFFF;
		width: vw(48);
		height: vw(48);
		padding: 0;
		svg{
			width: vw(30);
			height: vw(30);
			display: block;
			margin: 0 auto;
		}
		&:hover{
			color: #000000;
		}
		&__tw{}
		&__ok{}
		&__fb{}
		&__vk{}
	}
}

.test{
	padding-bottom: vw(37);
	box-sizing: border-box;
	width: 100%;
	&__preview{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__inner{
		display: none;
		box-sizing: border-box;
		width: 100%;
		border: 2px solid #d62327;
		background: rgba(0, 0, 0, 0.7);
		position: relative;
	}
	&__flex{
		display: flex;
		align-items: flex-start;
	}
	&__count{
		color: #d62327;
		font-size: vw(92);
		text-transform: uppercase;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		flex-shrink: 0;
		margin-right: vw(37);
		padding-top: vw(10);
	}
	&__current{}
	&__total{}
	&__main{}
	&__question{
		color: #e2e3d6;
		font-size: vw(30);
		line-height: vw(32);
		font-family: $font2;
	}
	&__variants{
		margin-top: vw(50);
	}
	&__variant{
		min-height: vw(35);
		display: block;
		+.test__variant{
			margin-top: vw(25);
		}
	}
	&__answer{
		font-size: vw(22);
		line-height: vw(26);
		letter-spacing: vw(0.55);
		cursor: pointer;
	}
	&__btns{
		position: absolute;
		width: 100%;
		display: flex;
		bottom: vw(-37);
		left: 0;
		justify-content: center;
	}
	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: vw(344);
		height: vw(77);
		cursor: pointer;
		color: #e2e3d6;
		font-family: $font2;
		font-size: vw(47);
		background: #000000;
		border-radius: vw(50);
		box-sizing: border-box;
		border: 2px solid #000000;
		transition: 0.3s;
		&:hover{
			border-color: #d62327;
		}
		&_auto{
			width: auto !important;
			padding-left: vw(35);
			padding-right: vw(35);
		}
	}
	&__test{
		box-sizing: border-box;
		padding: vw(49) vw(55) vw(85);
	}
	&__results{
		box-sizing: border-box;
		padding: vw(75) vw(50) vw(50);
	}
	&__title{
		color: #e2e3d6;
		font-family: $font2;
		font-size: vw(60);
		text-align: center;
		span{
			color: #d62327;
		}
	}
	&__itogo{
		margin-top: vw(50);
		width: vw(689);
		font-size: vw(24);
		font-weight: 400;
		line-height: vw(28);
		letter-spacing: vw(0.6);
		margin-left: auto;
		margin-right: auto;
	}
	&__share{
		margin-top: vw(40);
	}
}


@media all and (max-width: 750px) {

	.radio{
		$self: &;
		&__checkbox{
			width: vw2(36);
			height: vw2(36);
			left: vw2(-68);
			top: vw2(5);
		}
		input{
			&:checked ~ #{$self}__checkbox{
				&::after{
					width: vw2(16);
					height: vw2(16);
					box-shadow: 0 0 0.54695vw vw2(5) #d6232787;
				}
			}
		}
	}

	.share{
		&__title{
			font-size: vw2(24);
		}
		&__socials{
			margin-top: vw2(25);
		}
		&__soc-link{
			border-radius: vw2(4);
			margin: 0 vw2(8);
			width: vw2(48);
			height: vw2(48);
			svg{
				width: vw2(30);
				height: vw2(30);
			}
		}
	}

	.test{
		padding-bottom: 0;
		&__inner{}
		&__flex{
			flex-direction: column;
			align-items: center;
		}
		&__count{
			font-size: vw2(92);
			margin-right: vw2(37);
			padding-top: 0;
			justify-content: center;
		}
		&__question{
			font-size: vw2(30);
			line-height: vw2(32);
		}
		&__variants{
			margin-top: vw2(50);
			padding-left: vw2(125);
			padding-right: vw2(60);
		}
		&__variant{
			min-height: vw2(35);

			+.test__variant{
				margin-top: vw2(25);
			}
		}
		&__answer{
			font-size: vw2(22);
			line-height: vw2(26);
			letter-spacing: vw2(0.55);
		}
		&__btns{
			position: static;
			margin-top: vw2(65);
		}
		&__btn{
			width: vw2(344);
			height: vw2(77);
			font-size: vw2(47);
			border-radius: vw2(50);
			border: none;
			&_auto{
				height: auto;
				padding-top: vw2(15);
				padding-bottom: vw2(15);
			}
		}
		&__test{
			padding: vw2(65) vw2(40) vw2(65);
		}
		&__results{
			box-sizing: border-box;
			padding: vw2(75) vw2(50) vw2(60);
		}
		&__title{
			font-size: vw2(60);
		}
		&__itogo{
			margin-top: vw2(50);
			width: vw2(500);
			font-size: vw2(24);
			line-height: vw2(28);
		}
		&__share{
			margin-top: vw2(40);
		}
	}
}